@charset "utf-8";

html, body {
    font-family: "Poppins", "Noto Sans KR", sans-serif;
    position: relative;
    color: #333;
}

li {float: left;}

li:hover > a, .phover:hover h5 {
    color: #B75622;
}

h2 {
    font-family: "Outfit", "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 800;
    padding: 10px 0 30px 0;
}

#wrap {
    width: 100%;
    height: auto;
}

.container {
    width: 1400px; 
    height: 100%; 
    margin: 0 auto;
}


/* 스와이퍼 공통 */
.swiper {
    width: 100%;
    height: calc(100% - 74px);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev::after, .swiper-button-next::after { 
    color: rgba(0,0,0,0.5);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: rgba(0,0,0,0.5);
}

/* left/right 공통 */
.left, .right {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* product공통 */
.product_1 {
    width: 100%;
    height: 600px;
    text-align: left;
}

.product_2 {
    width: 49%;
    height: 600px;
    text-align: left;
}

.product_4 {
    width: 24%;
    height: 600px;
    text-align: left;
}

.product_thumb {
    height: 500px;
}

.product_thumb img {
    width: 100%;
}

.product_content {
    padding: 20px 0;
}

.product_content h5 {
    font-size: 16px;
    padding-bottom: 10px;
}

.product_content p { 
    padding-top: 5px;
}

.product_content span {
    color: #8e1f29;
    padding-right: 10px;
    font-weight: bold;
}


/* header */
header {width: 100%; }

/* header_top */
.header_top {
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 11;
}

.header_top .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* search */
.header_top .search {
    width: 420px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top .search input {
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 0 5px;
    font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}

.header_top .search input:focus {
    outline: none;
}

.header_top .search img:hover {
    cursor: pointer;
}

/* icon_nav */
.header_top .icons {
    width: 300px;   
    padding-right: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top .icons li {
    width: 24px;    
}

.header_top .icons li a {
    font-size: 12px;
    display: flex;
    flex-flow: column wrap;
}

.header_top .icons li span {
    white-space: nowrap;
}

/* header_bottom */
.header_bottom {
    width: 100%;
    height: 50px;
    border-top: 1px solid #eee;
    background-color: #fff;
}

.header_bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom .logo {
    display: none;
}
.header_bottom .logo img {
    width: 100px;
}

.header_bottom nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom nav ul li:not(:last-child) {
    padding: 11px 20px 11px 0;
}
/* .header_bottom nav ul li:first-child {padding: 11px 20px 11px 0;} */
.header_bottom nav ul li:last-child {padding: 11px 0 11px 20px;}

.header_bottom nav li {
    position: relative;
}
.header_bottom nav li .sub {
    position: absolute;
    top: 48px;
    left: -10px;
    z-index: 10;
    width: 160px;
    background-color: white;
    display: none;
}

.header_bottom nav li .sub li {
    float: none;
    padding: 0 15px 10px;
}

.header_bottom .icons {    
    width: 160px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

/* footer */
footer {
    font-size: 14px;
}

footer li {
    padding-right: 30px;
}

/* footer_top */
.footer_top {
    height: 60px;
    border-top: 1px solid #eee;
}

.footer_top .container {
    display: flex;
    align-items: center;
}

/* tel */
.footer_top .tel {
    width: 23%;
    display: flex;
    align-items: center;
}

.footer_top .tel p {
    font-size: 14px;
    color: #888;
    padding-left: 15px;
}

/* sns */
.footer_top .sns {
    align-self: flex-end;
    margin-left: auto;
}

.footer_top img {width: 32px;}


/* footer_bottom */
.footer_bottom {
    height: 280px;
    padding: 40px 0 60px 0;
    background-color: #f8f8f8;
}

.footer_bottom .container {
    position: relative;
}

.footer_nav {
    height: 30px;
    margin-bottom: 20px;
}

/* app_down */
.app_down {
    width: 180px;
    height: 60px;
    position: absolute;
    right: 0;
    top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_down:hover {
    cursor: pointer;
}

.app_name {
    width: 100px;
    text-align: right;
}

.app_name span {
    font-size: 12px;
    color: #888;
}

.app_name span::after {
    content: '>';
    padding-left: 5px;
}

.app_img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
}

.app_img img {width: 100%;}

/* footer_info */
.footer_info {
    width: 100%;
}

.footer_info ul {
    width: 100%;
    height: 25px;
}

.footer_info li {
    position: relative;
}

.footer_info li:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: 15px;
    color: #e0e0e0;
}

.footer_info a {
    color: #888;
}

.footer_info p {
    margin-top: 20px;
}