@charset "utf-8";

/* 슬라이더 비디오 */
#slider {
    width: 100%;
    overflow: hidden;
}

#slider video {
    position: relative;
    top: -6.7vw;
    left: 0;
    width: 100%;
}

/* 바로가기 */
#direct {
    padding-bottom: 100px;
}

#direct img {
    width: 100%;
}

/* andar's PICK */
#pick {
    height: 900px;
    padding-bottom: 100px;
}

#pick .container {
    background-color: skyblue;
}

#pick .pickSwiper .swiper-scrollbar {
    left: auto;
    right: 0;
    bottom: 15px;
    width: 49%;
}

/* 배너 */
#banner {
    height: 280px;
    padding-bottom: 100px;
}

#banner img {
    width: 100%;
}

/* 베스트셀러 */
#best {
    height: 850px;
    padding-bottom: 100px;
}

#best .container {
    background-color: pink;
}

#best .tab {
    overflow: hidden;
    padding-bottom: 20px;
}

#best .tab li {
    padding: 10px 20px;
    border-radius: 25px;
}

#best .tab li.active {
    background-color: #B75622;
}

#best .tab li.active a {
    color: #fff;
}

#best .product {
    display: flex;
    justify-content: space-between;
}

/* 브랜드스토리 */
#story {
    padding-bottom: 100px;
    text-align: center;
    color: #fff;
}

#story .container {
    padding: 40px 0; 
    background-color: #B75622;
}

#story h4 {
    font-size: 20px;
}

#story h3 {
    font-size: 40px;
    padding: 5px 0 20px 0;
}

#story button {
    padding: 10px 30px;
    border: 1px solid #fff;
    margin-top: 30px;
    background-color: #B75622;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* 위크 */
#new {
    height: 950px;
    padding-bottom: 100px;
}

#new h2 {padding: 10px 0;}

#new .container {
    height: auto;
}

#new .newSwiper .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1400px;
    height: 100%;
    background-color: none;
}

#new .swiper-button-prev {
    left: 12.5vw;
}

#new .swiper-button-next {
    right: 12.5vw;
}

#new .swiper-pagination {
    width: 1400px;
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#new .product_1 {
    height: 800px;
}

#new .product_1 .product_thumb {
    height: 650px;
    box-shadow: 0px 0px 10px #eee;
}

/* outlet */
#outlet {
    padding-bottom: 100px;
}

#outlet img {
    width: 100%;
}

/* 가을 이벤트 */
#event {
    height: 890px;
    padding-bottom: 100px;
}

#event .swiper-slide {
    align-items: flex-end;
    text-align: left;
}

#event .event_content {
    padding: 30px;
}

#event .event_content h3 {
    font-size: 40px;
}

#event .white {
    color: #fff;
}

/* 이벤트 썸네일 */
#event .swiper-slide:nth-child(1) {
    background: url(../img/event_thumb_01.jpg) center/cover;
}

#event .swiper-slide:nth-child(2) {
    background: url(../img/event_thumb_02.jpg) center/cover;
}

#event .swiper-slide:nth-child(3) {
    background: url(../img/event_thumb_03.jpg) center/cover;
}

#event .swiper-slide:nth-child(4) {
    background: url(../img/event_thumb_04.jpg) center/cover;
}

#event .swiper-slide:nth-child(5) {
    background: url(../img/event_thumb_05.jpg) center/cover;
}

/* recommend */
#set {
    height: 800px;
    padding-bottom: 100px;
}

#set .swiper-slide {
    justify-content: space-around;
}